:root{
    --pink          :hsl(322, 100%, 66%);
    --place-cyan    :hsl(193, 100%, 96%);
    --dark-cyan     :hsl(192, 100%, 9%);
    --blue          :hsl(208, 11%, 55%);
    --open-sans     :'Open Sans', sans-serif;
    --poppins       :'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/*18px open400700 pop600*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: var(--open-sans);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.pointer{
    cursor: pointer;
}
/* Header Style */
header{
    background: var(--place-cyan) url(./images/bg-hero-desktop.svg) no-repeat;
}
.container{
    padding: 40px 65px;
}
nav{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
nav .logo{
    width: 200px;
}
nav .button{
    background-color: white;
}
.header-body .button{
    background-color: var(--pink);
    color: white;
}
.header-body{
    align-items: center;
}
.header-content{
    flex: 0.7;
}
.header-content p{
    margin: 25px 40px 25px 0;
}
.header-body .illustration{
    flex: 1;
}
.header-body .illustration img{
    width: 100%;
}
.button{
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    padding: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}
.button:hover{
    cursor: pointer;
    opacity: 0.8;
}
/* Section Style */

section .container{
    padding: 100px 59px 200px 59px;
}
.card{
    height: 500px;
    margin-bottom: 45px;
    padding: 55px 55px 55px 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.card-body{
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.card-text{
    color: var(--blue);
}
.card-img{
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.card-img img{
   height: 100%;
}
.card:nth-child(even){
    flex-direction: row-reverse;
}
.card:nth-child(even) .card-img{
    justify-content: flex-start;
}
/* Footer Style */

footer .container{
    background-color: var(--dark-cyan);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 150px 70px 70px 70px;
    font-size: 14px;
    position: relative;
}
footer .logo img{
    height: 26px;
}
.contact{
    max-width: 350px;
    width: 100%;
    margin-right: 4rem;
}
.contact .text{
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
}
.contact .text img{
    height: 14px;
    margin-right: 15px;
    margin-top: 3px;
}
.footer-links{
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
.links{
    flex-direction: column;
}
.links a{
    color: white;
    margin-bottom: 15px;
}
.links a:hover{
    text-decoration: underline;
}
.socials{
    font-size: 20px;
}
.copy-right{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
}